<h1>Product Cart:</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @products.each do |fruit| %>
      <tr>
        <td><%= fruit.name %></td>
        <td><%= fruit.price %></td>
        <td><%= link_to 'Add to Cart'  %></td>
      </tr>
  <% end %>
</table>

<br />

<h1>Cart Items:</h1>

<table>
  <tr>Name</tr>
  <tr>Price</tr>
  <tr>Quantity</tr>

  <% @line_items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td><%= item.quantity %></td>
    </tr>
<% end %>
</table>

<br />

<%= link_to 'Checkout', carts_path, :method => :post  %>